<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>

<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-body-tertiary border-bottom box-shadow mb-3" style="background-color:#CBC3E3">
            <div class="container-fluid" >
                <nav class="navbar bg-body-tertiary">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                      <img src="~/images/home.png" alt="Logo" width="60" height="50" class="d-inline-block align-text-top">
                      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
                    </a>
                  </div>
                </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="form">Form</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="dataTable">Data Table</a>
                        </li>
                    </ul>
                </div>

                <nav class="navbar bg-body-tertiary">
                  <div class="container-fluid">
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                  </div>
                </nav>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="mt-auto text-muted">
        <div class="container">
            &copy; 2023 - LogIn Page - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.js"></script>	
	<script src="~/js/popper.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
